
@import "~swiper/swiper.min.css";
@import '~swiper/components/navigation/navigation.min.css';
@import '~swiper/components/pagination/pagination.min.css';

/*// override buttons CSS */

.swiper-container {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 100%;
}

.swiper-slide {
    width: 300px;
}

.swiper-pagination {
    bottom: 2rem !important;
}

.swiper-button-prev,
.swiper-button-next {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #000;

}

.swiper-pagination {
    display: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1.3rem;
    font-weight: 600;
    color: #000;
}

.swiper-button-prev {
    bottom: 0;
    right: 0;
    left: auto;
    top: auto;
    margin-right: 60px;
}

.swiper-button-next {
    bottom: 0;
    right: 0;
    top: auto;
}

@media screen and (max-width: 48rem) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
    .swiper-pagination {
        display: block;
    }
}